RCINCLUDE WPSac.rc
RCINCLUDE WPSacGR.dlg

/* WPSac - MenÅs */
MENU ID_LOGOUT LOADONCALL MOVEABLE DISCARDABLE
BEGIN
   MENUITEM "~Logout",              IDM_LOGOUT
END

MENU ID_ABOUTBOX LOADONCALL MOVEABLE DISCARDABLE
BEGIN
   MENUITEM "~Produktinformation",  IDM_ABOUTBOX
END

MENU ID_OPENDEBUG LOADONCALL MOVEABLE DISCARDABLE
BEGIN
   MENUITEM "~DEBUG (WPSac)",       IDM_OPENDEBUG
END
