#include <OS2.H>
#include "SammyDlg.h"
#include "SammyPan.h"

DEFAULTICON                 Sammy.ico

ICON       IDD_RXOUT        Rxout.ico
ICON       DID_ICON PRELOAD Sammy.ico

/* Helptables */
HELPTABLE IDH_MAIN
    {
    HELPITEM IDD_LOGIN,    IDH_LOGIN,    PANEL_LOGIN
    HELPITEM IDD_EDIT,     IDH_EDIT,     PANEL_EDIT
    HELPITEM IDD_VIEW,     IDH_VIEW,     PANEL_VIEW
    }

/* IDD_PWDIN */
HELPSUBTABLE IDH_LOGIN
    {
    HELPSUBITEM DID_OPTION,   PANEL_OPTION
    HELPSUBITEM IDM_SHUTDOWN, PANEL_SHUTDOWN
    HELPSUBITEM IDM_CHGPWD,   PANEL_CHGPWD
    HELPSUBITEM IDM_VIEW,     PANEL_VIEW
    }

/* IDD_EDIT */
HELPSUBTABLE IDH_EDIT
    {
    HELPSUBITEM DID_EDIT_USER,          PANEL_USER
    HELPSUBITEM DID_EDIT_OLDPWD,        PANEL_OLDPWD
    HELPSUBITEM DID_EDIT_PASSWORD,      PANEL_PASSWORD
    HELPSUBITEM DID_EDIT_VERIFICATION,  PANEL_VERIFICATION
    }

/* IDD_VIEW */
HELPSUBTABLE IDH_VIEW
    {
    HELPSUBITEM DID_VALUE_COLOR,        PANEL_VALUE_COLOR
    HELPSUBITEM DID_ENTER_FILE,         PANEL_ENTRY_PATH
    HELPSUBITEM DID_SEARCH_FILE,        PANEL_SEARCH_BUTTON
    }
